project:
  type: website
  output-dir: docs

website:
  title: "Cancer Epigenetics Study"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: penguins-app.qmd
        text: Penguin Analysis
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    toc: true
    code-fold: true

filters:
  - shinylive
